<div>
  Selecione uma configuração para o jogo:

  <div class="c-form-tabela">
    <p>Tamanho da tabela:</p>
    <form [formGroup]="formTabela">

      <p>

        <select formControlName="tamanho">
          <option [ngValue]="null" disabled>Tamanho da tabela:</option>
          <option *ngFor="let tamanho of tamanhoTabelas" [ngValue]="tamanho.id">{{tamanho.nome}}</option>
        </select>
      </p>



    </form>
  </div>
  <div class="c-form-regras">
    <p>Configuração para considerar bingo:</p>
    <form [formGroup]="formRegras">
      <p>

        <select formControlName="regra">
          <option [ngValue]="null" disabled>Regras bingo:</option>
          <option *ngFor="let regra of regrasBingo" [ngValue]="regra.id">{{regra.nome}}</option>
        </select>
      </p>
    </form>
  </div>

  <button (click)="voltarPaginaInicial()">Voltar</button>
  <button (click)="criarJogo()">Próximo</button><br />
</div>
