:root {
  --primary: #b01304;

  --primary-50: #fff1f0;
  --primary-100: #ffe0dd;
  --primary-200: #ffc6c1;
  --primary-300: #ff9e95;
  --primary-400: #ff6758;
  --primary-500: #ff3825;
  --primary-600: #fd1b05;
  --primary-700: #d61300;
  --primary-800: #b01304;
  --primary-900: #91170b;
  --primary-950: #500700;

  /* Gray colors */
  --color-gray-1: #ffffff;
  --color-gray-2: #eeeeee;
  --color-gray-3: #d5d5d5;
  --color-gray-4: #bbbbbb;
  --color-gray-5: #a1a1a1;
  --color-gray-6: #888888;
  --color-gray-7: #6f6f6f;
  --color-gray-8: #555555;
  --color-gray-9: #3c3c3c;
  --color-gray-10: #222222;
}
